/* Main text color #212121 */
/* Secondari text color  #757575;  */
/* Logo text color #2196F3 */
/* Hero text color #FFFFFF; */
/* borders color #ECECEC */
/* Link text color rgba(255, 255, 255, 0.6);
/* Hero and footer background color #2F303A */
/*  Secondori background color #F5F4FA */

/* Raleway 700*/
/* Roboto 900 700 400 500 */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --focus-hover-color: #2196f3;
  --main-bgc-color: #fff;
  --secondari-bgc-color: #f5f4fa;
  --footer-bgc-color: #2f303a;
  --site-current-page-color: #2196f3;
  --button-primary-color: #2196f3;
  --button-text-primary-color: #fff;
  --button-bgc-secondary-color: #f5f4fa;
  --button-secondary-text-color: #212121;
  --main-borders-color: #ececec;
  --client-icon-main-color: #afb1b8;
  --client-icon-akcent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-bgc-color);
  font-family: roboto, sans-serif;
  text-decoration: none;
}

header {
  border-bottom: 1px solid var(--main-borders-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--title-text-color);
  margin-top: 0;
}

.hidden-topic {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

/* Header elements */

.container--flex {
  display: flex;
  align-items: center;
}

.logo-nav-box {
  display: flex;
  align-items: center;
}

/* Header LOGO */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: raleway, sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--black {
  color: #000;
}

.logo--white {
  color: #fff;
}

.logo--HeaderPosition {
  margin-right: 93px;
}

.logo--FooterPosition {
  display: inline-block;
  margin-bottom: 20px;
}

.logo:hover,
.logo:focus {
  color: var(--focus-hover-color);
}

.logo__part {
  color: #2196f3;
}

/* Site nav */
.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: var(--site-current-page-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border: 2px solid var(--site-current-page-color);
  border-radius: 2px;
  background-color: var(--site-current-page-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--focus-hover-color);
}

/* Header Contacts */

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


.header-contacts__link {
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__MailIcon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__TelIcon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--focus-hover-color);
}

/* Hero Section */

.hero {
  background-color: var(--footer-bgc-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/hero-background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 200px 0;
}

.hero__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button {
  display: flex;
  align-items: center;
  margin: auto;

  border-radius: 4px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: 0px solid transparent;

  background-color: var(--button-primary-color);
  color: var(--button-text-primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
  background-color: #188ce8;
  color: var(--button-text-primary-color);
}

/* Features Section */

.flex-box--wrap {
  flex-wrap: wrap;
}

.features {
  width: 270px;
}

.features__IconBox {
  display: flex;
  background-color: var(--secondari-bgc-color);
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What We Do Section */

.section--paddingTop {
  padding-top: 0;
}

.what-we-do {
  position: relative;
}

.what-we-do__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.what-we-do__text {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--button-text-primary-color);
  text-transform: uppercase;
}

/* Team */

.section--grey {
  background-color: var(--secondari-bgc-color);
}

.container--TextCenter {
  text-align: center;
}

.crewman {
  width: 270px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-bgc-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.crewman__caption {
  padding: 30px 0;
}

.crewman__name {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.crewman__title {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.social-link__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--main-bgc-color);
  border-radius: 50%;
  fill: var(--client-icon-main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__icon {
  width: 20px;
  height: 20px;
}

.social-link__link:hover,
.social-link__link:focus {
  background-color: var(--client-icon-akcent-color);
  fill: var(--main-bgc-color);
}

/* Clients section */

.client__link {
  display: flex;
  fill: var(--client-icon-main-color);
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--client-icon-main-color);
  border-radius: 3px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  height: 60px;
  width: 106px;
}

.client__link:not(:last-child) {
  margin-right: 30px;
}

.client__link:hover,
.client__link:focus {
  display: flex;

  fill: var(--client-icon-akcent-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--client-icon-akcent-color);
  border-radius: 3px;
}

/* Portfolio Pages */
/* Filters Button */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.secondary-button:not(:last-child) {
  margin-right: 8px;
}

.secondary-button__button {
  background-color: var(--button-bgc-secondary-color);
  color: var(--button-secondary-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button__button:hover,
.secondary-button__button:focus {
  background-color: var(--button-primary-color);
  color: var(--button-text-primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Portfolio exempls */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.portfolio:nth-child(3n) {
  margin-right: 0;
}

.portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
  background-color: var(--main-bgc-color);
  color: var(--focus-hover-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  overflow: hidden;
  position: relative;
}

.portfolio__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--button-text-primary-color);
}

.portfolio__sign {
  border-left: 1px solid var(--main-borders-color);
  border-right: 1px solid var(--main-borders-color);
  border-bottom: 1px solid var(--main-borders-color);
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-right: 20px;
}

.portfolio__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__title {
  color: var(--primary-text-color);
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  display: block;
}

/* Footer */
/* Logo + Contacts */
.footer {
  background-color: var(--footer-bgc-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-address-box {
  flex-grow: 1;
}

.contact:not(:last-child) {
  margin-bottom: 9px;
}

.contact__item {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item--white {
  color: var(--button-text-primary-color);
}

.contact__item:hover,
.contact__item:focus {
  color: var(--focus-hover-color);
}

/* Footer Social Links */

.social-link__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--button-text-primary-color);
}

.footer-soxial-link-box {
  margin-left: 70px;
}

.footer-social-link-text {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--button-text-primary-color);
}

/* Footer Subscription box */
.footer-subscription {
  margin-left: 93px;
}

.footer-subscription__title {
  margin: 0;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: var(--button-text-primary-color);
}

.subscription {
  display: flex;
  margin-top: 20px;
}

.subscription__input {
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding-left: 16px;

  background-color: var(--footer-bgc-color);

  color: var(--button-text-primary-color);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.primary-button--margin {
  margin-left: 12px;
}

.subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* Modal Windows  */
/* Main Back Drop Styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transform: scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__closebutton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-bgc-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closebutton:hover,
.modal__closebutton:focus {
  color: var(--client-icon-akcent-color);
  fill: var(--client-icon-akcent-color);
}

.modal__closeicon {
  width: 30px;
  height: 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--button-secondary-text-color);
}

.modal__inputbox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal__input {
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
  padding-left: 40px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: #2196f3;
}

.modal__input:focus + .modal__inputicon {
  fill: #2196f3;
}

.modal__inputicon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__commentbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal__commenttextarea {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__commenttextarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__policy {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__box {
  position: absolute;
  appearance: none;
  opacity: 0;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox__box:checked + .checkbox__icon {
  background-size: contain;
  background-image: url(./images/checkbox-icon-on.svg);
  background-color: #2196f3;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal__policylink {
  text-decoration-line: underline;

  color: #2196f3;
}

.primary-button--shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button--shadow:hover,
.primary-button--shadow:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Portfolio Modal */
.portfolio__modal {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  pointer-events: none;
  opacity: 0;
  transform: translateY(294px);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__modal,
.portfolio__link:focus .portfolio__modal {
  opacity: 1;
  transform: translateY(0);
}
