.team {
  display: flex;
  justify-content: space-between;

  &__item {
    width: 270px;
    border-radius: 0px 0px 4px 4px;

    background-color: $main-bgc-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__caption {
    padding: 30px 0;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__name {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__title {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
