.contact {
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;

    &:hover,
    &:focus {
      color: $focus-hover-color;
    }
  }

  &__link--white {
    color: $button-text-primary-color;
  }
}
