.client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: calc((100% - 2 * 30px) / 2);

    @media screen and (min-width: 768px) {
      width: calc((100% - 3 * 30px) / 3);
    }

    @media screen and (min-width: 1600px) {
      width: calc((100% - 6 * 30px) / 6);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    height: 92px;
    margin: 15px;

    border: 1px solid $client-icon-main-color;
    border-radius: 3px;
    fill: $client-icon-main-color;

    @media screen and (min-width: 1600px) {
      margin: 0;
    }
  }

  &__icon {
    height: 60px;
    width: 106px;
  }

  &__link:hover,
  &__link:focus {
    fill: $client-icon-akcent-color;
    border: 1px solid $client-icon-akcent-color;
    border-radius: 3px;
  }
}
