.features {
  &__box {
    display: flex;
    justify-content: center;

    background-color: $secondari-bgc-color;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $title-text-color;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
