.features {
  justify-content: space-between;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;

    border-radius: 3px;

    background-color: $secondari-bgc-color;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $title-text-color;

    @media screen and (min-width: 1600px) {
      justify-content: left;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin: 0;
      width: calc((100% - 2 * 30px) / 2);
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      width: calc((100% - 4 * 30px) / 4);
    }
  }
}
