.logo-address-box {
  flex-grow: 1;
}

.contact {
  content: "";

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &__item {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item--white {
    color: $button-text-primary-color;
  }

  &__item:hover,
  &__item:focus {
    color: $focus-hover-color;
  }
}
