.header-contacts {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;

  &__link {
    text-decoration: none;
    color: $primary-text-color;
  }

  &__link--akcent {
    font-size: 34px;
    line-height: 1.176;

    color: $focus-hover-color;
  }

  &__item {
    padding: 16px 0px;
  }
}

.header-contacts__telIcon {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-contacts__mailIcon {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
