.hero {
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;

  max-width: 480px;
  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: rgba(47, 48, 58, 0.4);
  background-image: url(../images/Mobile-images/hero-background-img.jpg);
  background-size: 480px 400px;

  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: url(../images/Tablet-images/hero-background-img.jpg);
    background-size: 768px 400px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/Tablet-images/hero-background-img-2x.jpg);
    }
  }

  &__title {
    display: inline-block;

    margin-top: 0;
    margin-bottom: 30px;

    max-width: 360px;

    color: $button-text-primary-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;

    text-transform: uppercase;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/Mobile-images/hero-background-img-2x.jpg");
  }
}
