.hero {
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;

  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Mobile-images/hero-background-img.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/Mobile-images/hero-background-img-2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Tablet-images/hero-background-img.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Tablet-images/hero-background-img-2x.jpg);
    }
  }

  @media screen and (min-width: 1600px) {
    max-width: 1600px;
    height: 600px;

    padding: 200px 0;

    background-color: $footer-bgc-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background-img.jpg);
    background-size: 1600px 600px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-background-img-2x.jpg);
    }
  }

  &__title {
    display: inline-block;

    margin-top: 0;
    margin-bottom: 30px;

    max-width: 360px;

    color: $button-text-primary-color;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;

    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
