.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  z-index: 999;

  transform: scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 450px;
  min-height: 609px;
  background-color: #fff;
  padding: 40px 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__closebutton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: $main-bgc-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__closebutton:hover,
  &__closebutton:focus {
    color: $client-icon-akcent-color;
    fill: $client-icon-akcent-color;
  }

  &__closeicon {
    width: 30px;
    height: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    text-align: center;

    color: $button-secondary-text-color;
  }

  &__inputbox {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: $primary-text-color;
  }

  &__input {
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
    padding-left: 40px;
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus {
    border-color: #2196f3;
  }

  &__input:focus + &__inputicon {
    fill: #2196f3;
  }

  &__inputicon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    bottom: 11px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__commentbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: $primary-text-color;
  }

  &__commenttextarea {
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
  }

  &__commenttextarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &__policy {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $primary-text-color;
  }

  &__policylink {
    text-decoration-line: underline;

    color: #2196f3;
  }
}
