.portfolio {
  margin-top: 40px;

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: $main-bgc-color;
    color: $focus-hover-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__thumb {
    overflow: hidden;
    position: relative;
  }

  &__description {
    margin: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $button-text-primary-color;
  }

  &__sign {
    border-left: 1px solid $main-borders-color;
    border-right: 1px solid $main-borders-color;
    border-bottom: 1px solid $main-borders-color;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-right: 20px;
  }

  &__name {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__title {
    color: $primary-text-color;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    display: block;
  }

  &__modal {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(33, 150, 243, 0.9);
    pointer-events: none;
    opacity: 0;
    transform: translateY(294px);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__modal,
  &__link:focus &__modal {
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: calc((100% - 2 * 30px) / 2);
    }
  }

  @media screen and (min-width: 1600px) {
    &__item {
      width: calc((100% - 3 * 30px) / 3);
    }
  }
}
