.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
}

.footer-soxial-link-box {
  margin-left: 70px;
}

.footer-social-link-text {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  color: $button-text-primary-color;
}

.social-link {
  content: "";

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: $main-bgc-color;
    border-radius: 50%;
    fill: $client-icon-main-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link--color {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $button-text-primary-color;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__link:hover,
  &__link:focus {
    background-color: $client-icon-akcent-color;
    fill: $main-bgc-color;
  }
}
