.footer-social-box {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  @media screen and (min-width: 1600px) {
    margin-left: auto;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;

    align-items: center;

    height: 44px;
    width: 44px;

    background-color: $main-bgc-color;
    border-radius: 50%;
    fill: $client-icon-main-color;

    &:hover,
    &:focus {
      background-color: $client-icon-akcent-color;
      fill: $main-bgc-color;
    }
  }

  &__link--color {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $button-text-primary-color;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}
