.subscription {
  margin-top: 60px;

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    text-transform: uppercase;

    color: $button-text-primary-color;
  }

  &__box {
    margin-top: 20px;

    @media screen and (min-width: 1600px) {
      display: flex;
    }
  }

  &__input {
    width: 100%;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    padding: 16px;

    background-color: $footer-bgc-color;

    color: $button-text-primary-color;

    @media screen and (min-width: 768px) {
      min-width: 450px;
    }

    @media screen and (min-width: 1600px) {
      min-width: 358px;
    }
  }

  &__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: 1600px) {
    margin: 0 0 0 93px;
  }
}
